# Logs
npm-debug.log*
yarn-error.log

# Dependency directories
node_modules/
.husky/_/

# Coverage reports
coverage
junit.xml

# IDE / OS files
*.sublime-project
*.sublime-workspace
.vscode
.idea
.DS_Store
